/* header */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.nav_div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav_ul {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.Action_div {
    background-color: #000;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    position: relative;
}

.Action_h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.burger_div {
    border-radius: 50%;
    background-color: #000;
    position: relative;
    width: 25px;
    height: 25px;
    display: none;
}

.fa-bars {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}


/* Section 1 */

.s1 {
    padding: 64px 0;
}

.s1_container {
    max-width: 1110px;
    width: 90%;
    display: flex;
    column-gap: 130px;
    margin: 0 auto;
    align-items: center;
}

.s1_leftdiv {
    width: 490px;
}

.s1_rightdiv {
    width: 490px;

}

.s1_img {
    width: 100%;
    
    
}

.s1_insidediv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.s1_actiondiv {
    background-color: #000;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    position: relative;
    margin-right: 20px;
}

.s1_actionp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.s1_h2 {
    font-size: 56px;
}

.s1_p {
    font-size: 18px;
    margin-bottom: 40px;
}

.pic-img {
    width: 100%;
}


/* section 2 */

.section2 {
    width: 100%;
    background-color: #F3F3F3;
    padding: 64px 0;
}

.s2_container {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
}

.s2_box {
    width: 360px;
}
.s2_circlediv {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.s2_h4 {
    margin-left: 16px;
}
.s2_circle {
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


/* Section3 */

.section3 {
    background-color: #000;
    padding: 96px 0;
}

.div_container3 {
    max-width: 1140px;
    width: 90%;
    display: flex;
    column-gap: 133px;
    margin: 0 auto;
    align-items: center;
}

.img_div3 {
    width: 503.5px;
}

.text_div3 {
    width: 503.5px;
    color: white;
}

.s3_p {
    margin-top: 8px;
}

.s3_p1 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.s3_h3 {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px; 
}

.img3-pic {
    width: 100%;
}

/* Section 4 */

.s4_div_desc {
    background-image: url(../images/img4-desc.jpg);
    width: 100%;
    height: 588px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4_text_div {
    width: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.s4_actiondiv {
    border-radius: 32px;
    background-color: #fff;
    width: 84px;
    height: 40px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4_h3 {
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    margin: 10px 0;
}

.s4_p {
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    
}

/* Footer */

.footer_section {
    background-color: #000;
    padding: 96px 0;
}

.footer_container {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    color: #fff;
}

.footer_div {
    width: 210.6px;
}

.footer_logo_div {
    margin-right: 210.6px;
}

.footer_h3 {
    margin-bottom: 16px;
}

.fourthh3 {
    margin-bottom: 24px;
}

.footer_textdivs {
    display: flex;
}







/* responsive */

@media (max-width: 1024px) {
    .s1_container {
        flex-direction: column;
    }
    .s1_leftdiv {
        width: 100%;
        margin-bottom: 68px;
        text-align: center;
        align-items: center;
    }
    .s1_rightdiv {
        width: 100%;
    }
    .s1_insidediv {
        flex-direction: column;
    }
    .s1_actiondiv {
        margin-bottom: 16px;
    }
    .s1_h2 {
        margin-bottom: 24px;
    }
    .img_div3 {
        width: 100%;
    }
    .div_container3 {
        flex-direction: column;
        row-gap: 64px;
    }
    .text_div3 {
        width: 100%;
        display: flex;
        column-gap: 129px;
        align-items: top;
    }

    .footer_container {
        flex-direction: column;
        row-gap: 48px;
    }
    
    .subdiv {
        display: none;
    }
}

@media (max-width: 744px) {
    .s1_h2 {
        font-size: 40px;
    }
    .s2_container {
        flex-direction: column;
        text-align: center;
    }
    .s2_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }
    .s2_circlediv {
        align-items: center;
    }
    .img_div3 {
        width: 100%;
    }
    .text_div3 {
        flex-direction: column;
        text-align: center;
    }
    .s3_p1 {
        margin: 29px 0;
    }
}


@media (max-width: 375px) {
    .navigation {
        display: none;
    }
    .Action_div {
        display: none;
    }
    .burger_div {
        display: block;
    }
    .s1_h2 {
        font-size: 40px;
    }
    .img_div3 {
        width: 100%;
    }

    .footer_container {
        
        text-align: center;
    }

    .footer_logo_div {
        margin:0 auto;
    }
}